<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <mat-tab-group class="bottom-nav" #tabGroup (selectedTabChange)="onTabChange($event)">
    <mat-tab *ngFor="let item of navigationItems" [routerLink]="item.route" [label]="item.id.toString()">
      <ng-template mat-tab-label>
        <span>{{item.label}}</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div class="line"></div>
  <div  class="currentButtonContianer" *ngFor="let data of currentButtons" >
    <!-- Button content --> <div class="line"></div>
    <button  class="currentButtons" (click)="produktButtonClick(data)">


      <!-- You can include any button content here -->

      {{ data.name }}
      <span *ngIf="!hasUntermenue(data)"> -- {{ data.preis }} €</span>

    </button>
    <div class="line"></div>
  </div>
   <div class="line"></div>

  <div *ngIf="einkaufswagentab" class="checkout-container" >
    <h2>Your Cart</h2>
    <ul style="padding-left: 0px; width: 100%">
      <p style="padding-left: 0px; width: 100%" *ngFor="let item of einkaufswagen; let i = index">
        <button class="plus-minus-button"  style="margin-right: 2.5%" (click)="removeItem(i)">-</button>
        <a class="anzahl">{{ item.quantity }}X</a>

        {{ item.name }} <a class="preis" >{{item.preis}}€</a>

        <button style="margin-left: 20px" (click)="addInfo(i)">+info</button>
        <app-text-popup (submitEvent)="handleSubmit($event)" #popup></app-text-popup>

        <button *ngIf="item.moeglicheZutaten !== null"  style="margin-left: 10px" (click)="openZutatenPopup(i)">+Zutaten</button>
       <!-- <app-zutaten-popup (selectEvent)="handleZutatenSelection($event)" #popup></app-zutaten-popup>
-->
        <button class="plus-minus-button"  style="position: absolute ;right: 0px" (click)="addItem(i)">+</button>

      </p>
    </ul>
    <p>Summe: {{ totalPrice }}€ </p>

    <form (ngSubmit)="submitOrder()">
      <button type="submit">Bestllen</button>
    </form>
  </div>

  <div style="position: fixed; bottom: 0; right: 0;">
    <button *ngIf="showBackButton" style="" (click)="goBack()" class="back-button">Zurück</button>
    <button *ngIf="showWeiterButton" style="padding-bottom: 20px" (click)="goWeiter()" class="back-button">Weiter</button>

  </div>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
