<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <mat-tab-group class="bottom-nav" (selectedTabChange)="onTabChange($event)">
    <mat-tab *ngFor="let item of navigationItems" [routerLink]="item.route" [label]="item.id.toString()">
      <ng-template mat-tab-label>
        <span>{{item.label}}</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div *ngFor="let data of currentButtons">
    <!-- Button content -->
    <button (click)="produktButtonClick(data)">
      <!-- You can include any button content here -->

      {{ data.name }}
      <span *ngIf="!hasUntermenue(data)"> -- {{ data.preis }} €</span>

    </button>
  </div>

  <div *ngIf="einkaufswagentab" class="checkout-container" style="width: 100%">
    <h2>Your Cart</h2>
    <ul>
      <p *ngFor="let item of einkaufswagen; let i = index">
        {{ item.name }} <a class="anzahl" style="padding-right: 10%">{{item.preis}}€</a>

        <button style="margin-right: 2.5%" (click)="addInfo(i)">+info</button>
        <app-text-popup (submitEvent)="handleSubmit($event)" #popup></app-text-popup>

        <button *ngIf="item.moeglicheZutaten !== null"  style="margin-right: 2.5%" (click)="openZutatenPopup(i)">+Zutaten</button>
       <!-- <app-zutaten-popup (selectEvent)="handleZutatenSelection($event)" #popup></app-zutaten-popup>
-->
        <button class="plus-minus-button"  style="margin-right: 2.5%" (click)="removeItem(i)">-</button>
        <a class="anzahl">{{ item.quantity }}</a>
        <button class="plus-minus-button"  style="margin-left: 2.5%"  (click)="addItem(i)">+</button>

      </p>
    </ul>
    <p>Summe: {{ totalPrice }}€ </p>

    <form (ngSubmit)="submitOrder()">
      <button type="submit">Bestllen</button>
    </form>
  </div>

  <div style="position: fixed; bottom: 0; right: 0;" class="back-button">
    <button *ngIf="!einkaufswagentab" style="" (click)="goBack()">Zurück</button>
  </div>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
