.currentButtonContianer
{
  width: 100%;
  text-align: left;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.currentButtons
{
  flex-grow: 1;
  text-align: left;
  font-weight: bold;
  padding: 10px;
  margin: 0 10px;
  background-color: #FFF;
  border: none;
  color: black;
  cursor: pointer;

}
.back-button
{
  background-color: mediumslateblue;

  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 10px;
  margin-left: 20px;

  padding: 20px;
  border-radius: 5px;

  font-weight: bold;

  border: none;
}

.checkout-container
{
  width: 100%;
  font-weight: bold;
  button{
    background-color: #cccccc;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 10px;

    padding: 10px;

    font-weight: bold;

    border: none;
  }

}
.preis
{
  padding-left: 10px;
}
