.currentButtons
{
  background-color: mediumslateblue;

  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 10px;
  margin-left: 20px;

  padding: 20px;
  border-radius: 5px;

  font-weight: bold;

  border: none;
}
.back-button
{
  background-color: mediumslateblue;

  padding-top: 10px;
  padding-bottom: 10px;

  margin-top: 10px;
  margin-left: 20px;

  padding: 20px;
  border-radius: 5px;

  font-weight: bold;

  border: none;
}

.checkout-container
{
  button{
    background-color: mediumslateblue;

    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 10px;
    margin-left: 10px;

    padding: 10px;
    border-radius: 5px;

    font-weight: bold;

    border: none;
  }

}
