<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<main>
  <mat-tab-group class="bottom-nav" (selectedTabChange)="onTabChange($event)">
    <mat-tab *ngFor="let item of navigationItems" [routerLink]="item.route" [label]="item.id.toString()">
      <ng-template mat-tab-label>
        <span>{{item.label}}</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div *ngFor="let data of currentButtons">
    <!-- Button content -->
    <button (click)="produktButtonClick(data)">
      <!-- You can include any button content here -->

      {{ data.name }}
      <span *ngIf="data.preis !== '0.0'"> -- {{ data.preis }} €</span>

    </button>
  </div>

  <div *ngIf="einkaufswagentab" class="checkout-container" style="width: 100%">
    <h2>Your Cart</h2>
    <ul>
      <p *ngFor="let item of einkaufswagen; let i = index">
        {{ item.name }} <a class="anzahl" style="padding-right: 10%">{{item.preis}}€</a>
        <button class="plus-minus-button"  style="padding-right: 2.5%" (click)="removeItem(i)">-</button>
        <a class="anzahl">{{ item.quantity }}</a>
        <button class="plus-minus-button"  (click)="addItem(i)">+</button>

      </p>
    </ul>
    <p>Summe: {{ totalPrice }}€ </p>

    <form (ngSubmit)="submitOrder()">
      <button type="submit">Bestllen</button>
    </form>
  </div>

</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
